<div style="margin-top:15px;">
<div class="card border-dark mb-3" style="max-width: 35rem; max-height:50rem; margin: 0 auto">
  <div class="card-header">Bievenida</div>
  <div class="card-body">
  <h2 class="card-title">Hola <b class="text-success">{{name}}</b></h2>
    <p class="card-text">Bievenido al sistema de web para el desempeño y el éxito de los jugadores de los deportistas de Caronte R.C; Villa de Cura, Estado Aragua.</p>
  </div>
</div>
</div>